<%= video_tag "Restaurant1192.mp4", id: 'background', autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
<br><br><br><br><br><br><br>

<style>body {  color: white;}</style>

<center><h1><b>&ensp;&ensp; Welcome </h1> <br>
<center><h3><b>&ensp;&ensp;&ensp; Please log in </h3> <br>
<%= form_with model: @user, local: true do |f| %>
    <%= f.label :username %>   
    <%= f.text_field :username %> <br>    

    <%= f.label :password %>  
    <%= f.text_field :password %><br>   

    <%= f.submit "Sign in" %>
    <% end %>


<%= button_to "Sign up", new_user_path, method: :get%> </center>
