<% if @errors %>
    <% @errors.each do |error| %>
        <p style="color:red"><%= error %></p>
    <% end %>
<% end %>
<%= form_with model: @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>

    <%= f.submit "Create Account" %>
<% end %>