<h1><%=@restaurantreservation.restaurant_name %></h1>
<%= form_with model: @restaurantreservation, local: true do |f| %>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
    <br>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <br>
     <%= f.label :time %>
    <%= f.text_field :time %>
    <br>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
    <br>
    <%= f.label :restaurant_id %>
    <%= f.number_field :restaurant_id %>


    <%= f.submit "Create Reservation" %>
<% end %>